Repository svelte-docgen/svelte-docgen, pull requests merged in 2024-12, with the labels that each got.

#13 fix: Accept filepaths with URI - with `file://` protocol
  .changeset/loud-queens-double.md
  .changeset/sweet-walls-run.md
  packages/extractor/src/cache.js
  packages/extractor/src/compiler.js
  packages/extractor/src/options.js
  packages/extractor/tsconfig.json
  packages/svelte-docgen/src/analyzer/prop.test.ts
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/tsconfig.json
  tests/snapshot-serializer.ts
  tsconfig.json
Labels: enhancement

#15 feat: Add (de)serialization functions
  .changeset/slow-melons-enjoy.md
  packages/svelte-docgen/package.json
  packages/svelte-docgen/src/doc/kind.js
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/mod.js
  packages/svelte-docgen/src/parser/Parser.js
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/serde.js
  packages/svelte-docgen/src/serde.test.ts
  packages/svelte-docgen/src/shared.js
  pnpm-lock.yaml
  tests/snapshot-serializer.ts
Labels: enhancement

#20 fix: Failure when there is only one $bindable
  packages/extractor/src/extractor/bindings.test.ts
  packages/extractor/src/extractor/mod.js
Labels: bug

#30 test: Improve snapshots serializer - `<semver>`
  packages/svelte-docgen/src/parser/events.test.ts
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/serde.test.ts
  tests/snapshot-serializer.ts
  vitest.workspace.ts
Labels: internal

#27 chore: Include @ciscorn in project authors & contributors
  .github/FUNDING.yml
  README.md
  packages/extractor/package.json
  packages/svelte-docgen/package.json
  packages/vite-plugin-svelte-docgen/package.json
Labels: documentation

#34 feat: Convert paths inside `sources` set to relative to project root
  .changeset/wet-items-brush.md
  packages/svelte-docgen/src/parser/events.test.ts
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/serde.test.ts
  packages/svelte-docgen/src/shared.js
Labels: documentation, enhancement

#46 fix(extractor): Correct a cache key bug and prevent root_names reuse
  .changeset/pink-pens-tickle.md
  packages/extractor/src/cache.js
  packages/extractor/src/extractor/mod.js
Labels: bug

#48 chore: Add GitHub's official labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci/cd

#58 refactor: Base compiler host initialization
  apps/docs/src/routes/demo-playground/demo.ts
  packages/extractor/src/cache.js
  packages/extractor/src/extractor/mod.js
  packages/extractor/src/options.js
  packages/svelte-docgen/src/parser/mod.js
Labels: package:extractor, package:docgen, app:docs

#61 feat: Support aliases and type references (especially recursive ones)
  .changeset/cyan-otters-doubt.md
  apps/docs/src/routes/demo-playground/initial.txt
  package.json
  packages/server/src/app.test.ts
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/analyzer/prop.test.ts
  packages/svelte-docgen/src/codec.test.ts
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/doc/utils.js
  packages/svelte-docgen/src/mod.js
  packages/svelte-docgen/src/parser/events.test.ts
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/array.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/parser/type/function.test.ts
  packages/svelte-docgen/src/parser/type/interface.test.ts
  packages/svelte-docgen/src/parser/type/intersection.test.ts
  packages/svelte-docgen/src/parser/type/tuple.test.ts
  packages/svelte-docgen/src/parser/type/type-parameter.test.ts
  packages/svelte-docgen/src/parser/type/union.test.ts
  turbo.json
Labels: package:docgen, app:docs, package:server

#64 feat(docs): Add initial `/package` & `/package/[name]` routes
  apps/docs/package.json
  apps/docs/src/params/org_name.ts
  apps/docs/src/params/pkg_name.ts
  apps/docs/src/routes/demo-playground/demo.ts
  apps/docs/src/routes/examples/+page.md
  apps/docs/src/routes/package/+layout.server.ts
  apps/docs/src/routes/package/+page.svelte
  apps/docs/src/routes/package/[[org=org_name]]/[name=pkg_name]/+page.server.ts
  apps/docs/src/routes/package/[[org=org_name]]/[name=pkg_name]/+page.svelte
  apps/docs/svelte.config.js
  apps/docs/tsconfig.json
  apps/docs/vite.config.ts
  package.json
  patches/pathe.patch
  pnpm-lock.yaml
Labels: documentation, enhancement, app:docs

#68 fix(docgen): Handle tuples as TypeReference and support instantiable types
  .changeset/great-worms-tan.md
  .changeset/pretty-rockets-tell.md
  apps/docs/src/routes/demo-playground/+page.svelte
  apps/docs/src/routes/demo-playground/initial.txt
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/codec.test.ts
  packages/svelte-docgen/src/doc/kind.js
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/function.test.ts
  packages/svelte-docgen/src/parser/type/instantiable.test.ts
  packages/svelte-docgen/src/parser/type/symbol.test.ts
  packages/svelte-docgen/src/parser/type/tuple.test.ts
  packages/svelte-docgen/src/parser/type/type-parameter.test.ts
Labels: package:docgen, app:docs, package:server

#74 fix: Workaround for broken .d.ts generation by dts-buddy
  packages/svelte-docgen/src/analyzer/component.js
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/doc/kind.js
  packages/svelte-docgen/src/doc/utils.js
  packages/svelte-docgen/src/parser/mod.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: ci/cd, package:extractor, package:docgen, package:vite-plugin

#75 ci: Setup codecov action
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: ci/cd

#79 fix(docgen): Handle 'types' in decode() function
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/codec.js
Labels: bug, package:docgen, package:server

#77 fix(docgen): Detect non-workspace package.json files as potential root
  apps/docs/src/routes/package/+layout.server.ts
  packages/svelte-docgen/src/shared.js
  packages/svelte-docgen/src/shared.test.ts
  packages/svelte-docgen/tests/dummy-packages/npm-workspace/member/package.json
  packages/svelte-docgen/tests/dummy-packages/npm-workspace/member/src/hello.txt
  packages/svelte-docgen/tests/dummy-packages/npm-workspace/package.json
  packages/svelte-docgen/tests/dummy-packages/package/package.json
  packages/svelte-docgen/tests/dummy-packages/package/src/hello.txt
  packages/svelte-docgen/tests/dummy-packages/pnpm-workspace/member/package.json
  packages/svelte-docgen/tests/dummy-packages/pnpm-workspace/member/src/hello.txt
  packages/svelte-docgen/tests/dummy-packages/pnpm-workspace/pnpm-workspace.yaml
Labels: bug, package:docgen, app:docs

#80 fix(vite-plugin): Handle 'types' in the AST transformation
  .github/codecov.yml
  packages/server/src/schema.js
  packages/vite-plugin-svelte-docgen/src/mod.test.ts
  packages/vite-plugin-svelte-docgen/src/transform.js
Labels: bug, package:server, package:vite-plugin
