Repository svelte-docgen/svelte-docgen, pull requests merged in 2025-01, with the labels that each got.

#81 fix(vite-plugin): Handle 'members' in the AST transform
  .changeset/violet-kings-train.md
  packages/vite-plugin-svelte-docgen/src/mod.test.ts
  packages/vite-plugin-svelte-docgen/src/transform.js
Labels: bug, package:vite-plugin

#83 fix(docgen): Remove unnecessary "self" previously used for self-reference
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/doc/type.ts
Labels: package:docgen

#86 fix: Support for inline tags in props doc comments
  .changeset/fluffy-mugs-work.md
  packages/extractor/src/extractor/component-doc.js
  packages/extractor/src/extractor/component-doc.test.ts
  packages/extractor/src/extractor/mod.js
  packages/svelte-docgen/src/analyzer/component.js
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/parser/component.test.ts
  packages/svelte-docgen/src/parser/mod.js
Labels: bug, enhancement, package:extractor, package:docgen

#66 feat(docs): Initial editor with `codemirror`
  apps/docs/package.json
  apps/docs/src/lib/components/blocks/app-header/app-header.svelte
  apps/docs/src/lib/components/blocks/app-header/index.ts
  apps/docs/src/lib/components/blocks/app-sidebar/app-sidebar.svelte
  apps/docs/src/lib/components/blocks/app-sidebar/index.ts
  apps/docs/src/lib/components/blocks/app-sidebar/nav-bottom.svelte
  apps/docs/src/lib/components/blocks/app-sidebar/nav-playground.svelte
  apps/docs/src/lib/components/blocks/app-sidebar/nav-top.svelte
  apps/docs/src/lib/components/blocks/app-sidebar/search-form.svelte
  apps/docs/src/lib/components/blocks/app-sidebar/version-switcher.svelte
  apps/docs/src/lib/components/blocks/repl/editor.svelte
  apps/docs/src/lib/components/blocks/repl/index.ts
  apps/docs/src/lib/components/blocks/repl/manager.svelte.ts
  apps/docs/src/lib/components/blocks/repl/root.svelte
  apps/docs/src/lib/components/blocks/toggle-scheme/index.ts
  apps/docs/src/lib/components/blocks/toggle-scheme/toggle-scheme.svelte
  apps/docs/src/lib/components/ui/breadcrumb/breadcrumb-list.svelte
  apps/docs/src/lib/components/ui/breadcrumb/breadcrumb-separator.svelte
  apps/docs/src/lib/components/ui/resizable/index.ts
  apps/docs/src/lib/components/ui/resizable/resizable-handle.svelte
  apps/docs/src/lib/components/ui/resizable/resizable-pane-group.svelte
  apps/docs/src/routes/+layout.svelte
  apps/docs/src/routes/playground/+page.svelte
  apps/docs/src/routes/playground/demo.ts
  apps/docs/src/routes/playground/docgen.svelte.ts
  apps/docs/src/routes/playground/initial.txt
  pnpm-lock.yaml
Labels: app:docs

#90 fix: Adjust union type output to `a | undefined` instead of `undefined | a`
  packages/server/src/app.test.ts
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/codec.test.ts
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/parser/type/function.test.ts
  packages/svelte-docgen/src/parser/type/interface.test.ts
Labels: package:docgen, package:server

#92 fix(analyser): Handling `isSnippet` in browser
  .changeset/ten-ties-sniff.md
  packages/svelte-docgen/src/analyzer/prop.js
Labels: bug, package:docgen

#95 fix: Remove leading `/` of paths inside the `sources` set
  packages/server/src/app.test.ts
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/analyzer/prop.test.ts
  packages/svelte-docgen/src/codec.test.ts
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/shared.js
Labels: package:docgen, package:server

#97 fix: Allow more types to be aliased
  packages/server/src/node/mod.test.ts
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/type/array.test.ts
  packages/svelte-docgen/src/parser/type/constructible.test.ts
  packages/svelte-docgen/src/parser/type/instantiable.test.ts
  packages/svelte-docgen/src/parser/type/literal.test.ts
  packages/svelte-docgen/src/parser/type/symbol.test.ts
Labels: package:docgen, package:server

#98 fix: `isEventHandler` check not considering nullable union type
  .changeset/mean-games-tie.md
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/analyzer/prop.test.ts
Labels: bug, package:docgen

#99 refactor(docgen): Simplify get_type_kind
  packages/svelte-docgen/src/doc/kind.js
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/type/instantiable.test.ts
  packages/svelte-docgen/src/shared.js
Labels: package:docgen

#100 feat(docgen): Merge `true | false` in unions into `boolean`
  .changeset/honest-pens-remember.md
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/type/union.test.ts
Labels: enhancement, package:docgen

#103 feat: Handle bindable props extended via `"svelte/elements"` types
  .changeset/perfect-ads-argue.md
  packages/extractor/src/extractor/bindings.test.ts
  packages/extractor/src/extractor/mod.js
  packages/svelte-docgen/src/parser/mod.js
Labels: enhancement, package:extractor, package:docgen

#104 refactor(docgen): More robust `is_constructible`
  packages/svelte-docgen/src/doc/kind.js
  packages/svelte-docgen/src/shared.js
Labels: package:docgen

#105 chore: update dependencies
  .gitignore
  apps/docs/.prettierignore
  apps/docs/.sveltepress/live-code/live-code-map.json
  apps/docs/package.json
  apps/docs/src/lib/components/ui/sidebar/sidebar-provider.svelte
  apps/docs/src/lib/components/ui/sidebar/sidebar.svelte
  apps/docs/src/routes/playground/+page.svelte
  apps/docs/src/routes/playground/docgen.svelte.ts
  package.json
  pnpm-lock.yaml
Labels: app:docs

#106 docs: Initial version of project logo
  README.md
  apps/docs/src/lib/components/blocks/app-sidebar/version-switcher.svelte
  apps/docs/static/favicon.svg
  apps/docs/svelte.config.js
  apps/docs/vite.config.js
  assets/brand/logo.svg
Labels: documentation, app:docs

#108 chore(docs): Add instantiable types to the list on README
  README.md
  packages/extractor/src/extractor/mod.js
  packages/server/package.json
  packages/server/src/schema.js
  packages/svelte-docgen/src/shared.js
Labels: documentation, package:extractor, package:docgen, package:server

#109 feat(docs): Dark mode support for SVG logo
  assets/brand/logo.svg
Labels: documentation

#101 feat(svelte-docgen): Revamp analysis
  .changeset/old-flowers-admire.md
  packages/svelte-docgen/src/analyzer/component.js
  packages/svelte-docgen/src/analyzer/component.test.ts
  packages/svelte-docgen/src/analyzer/mod.js
  packages/svelte-docgen/src/analyzer/mod.test.ts
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/analyzer/prop.test.ts
  packages/svelte-docgen/src/analyzer/props.js
  packages/svelte-docgen/src/analyzer/props.test.ts
  packages/svelte-docgen/src/mod.js
Labels: documentation, enhancement, package:docgen

#112 chore: Update dependencies
  apps/docs/package.json
  package.json
  packages/server/package.json
  packages/svelte-docgen/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package:docgen, app:docs, package:server

#119 feat(svelte-docgen): Add new type guards
  .changeset/shiny-foxes-tie.md
  .changeset/swift-peaches-applaud.md
  .changeset/three-socks-juggle.md
  packages/svelte-docgen/src/analyzer/prop.js
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/doc/utils.js
  packages/svelte-docgen/src/kind/core.js
  packages/svelte-docgen/src/kind/guard.js
  packages/svelte-docgen/src/kind/mod.js
  packages/svelte-docgen/src/mod.js
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/type/array.test.ts
  packages/svelte-docgen/src/parser/type/function.test.ts
  packages/svelte-docgen/src/parser/type/instantiable.test.ts
  packages/svelte-docgen/src/parser/type/interface.test.ts
  packages/svelte-docgen/src/parser/type/tuple.test.ts
  packages/svelte-docgen/src/parser/type/type-parameter.test.ts
  packages/svelte-docgen/src/parser/type/union.test.ts
Labels: enhancement, package:docgen

#126 chore: Rename AdvancedType to StructuredType
  .changeset/shiny-foxes-tie.md
  .changeset/three-socks-juggle.md
  packages/svelte-docgen/src/doc/type.ts
  packages/svelte-docgen/src/kind/core.js
  packages/svelte-docgen/src/kind/guard.js
  packages/svelte-docgen/src/kind/mod.js
  packages/svelte-docgen/src/mod.js
  packages/svelte-docgen/src/parser/mod.js
Labels: package:docgen

#128 fix: Fn can have TypeArgs
  packages/svelte-docgen/src/doc/type.ts
Labels: package:docgen

#130 docs: Improve root & `svelte-docgen` README files
  README.md
  packages/svelte-docgen/README.md
Labels: documentation, package:docgen

#133 refactor(docgen): `isBindable` will always return `true` when component has legacy syntax
  .changeset/old-bears-exercise.md
  packages/svelte-docgen/src/parser/mod.js
  packages/svelte-docgen/src/parser/props.test.ts
  packages/svelte-docgen/src/parser/slots.test.ts
Labels: enhancement, package:docgen

#142 ci(Knip): Initial setup
  .github/workflows/ci.yml
  .github/workflows/knip.yml
  knip.json
  package.json
  packages/extractor/tests/shared.ts
  packages/server/src/app.js
  packages/server/src/bun/server.js
  packages/server/src/deno/server.js
  packages/server/src/node/server.js
  packages/svelte-docgen/src/kind/core.js
  packages/svelte-docgen/src/mod.js
  packages/svelte-docgen/src/shared.js
  packages/svelte-docgen/tests/shared.ts
  pnpm-lock.yaml
Labels: ci/cd, package:extractor, package:docgen, package:server

#143 refactor: Drop usage of `mode-watcher` for custom implementation
  apps/docs/package.json
  apps/docs/src/app.css
  apps/docs/src/lib/components/blocks/repl/manager.svelte.ts
  apps/docs/src/lib/components/blocks/toggle-scheme/toggle-scheme.svelte
  apps/docs/src/lib/hooks/color-scheme.svelte.ts
  apps/docs/src/lib/hooks/storage.svelte.ts
  apps/docs/src/routes/+layout.svelte
  apps/docs/tailwind.config.js
  pnpm-lock.yaml
Labels: enhancement, app:docs

#144 chore(apps): Define path alias `@/*` for workspace root
  apps/docs/src/lib/components/blocks/app-sidebar/version-switcher.svelte
  apps/docs/src/routes/package/+layout.server.ts
  apps/docs/svelte.config.js
Labels: internal, app:docs

#145 chore(internals): Setup directory
  .github/codecov.yml
  .github/labeler.yml
  .github/renovate.json
  apps/docs/package.json
  apps/docs/src/routes/package/+layout.server.ts
  apps/docs/src/routes/package/[[org=org_name]]/[name=pkg_name]/+page.server.ts
  apps/docs/svelte.config.js
  internals/README.md
  internals/md/package.json
  internals/md/src/highlighter.js
  internals/md/src/mod.ts
  packages/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: documentation, internals, app:docs

#146 build(scripts): Setup workspace
  .github/codecov.yml
  .github/labeler.yml
  knip.json
  pnpm-workspace.yaml
  scripts/README.md
  tsconfig.json
Labels: documentation, scripts
